<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <button id="get-json-data-button">JSON</button>
    </div>
    <div>
      <button id="get-view-data-button">Partial View</button>
    </div>
    <div>
      The data you got from AJAX:
      <div id="data-container">
      
      </div>
    </div>

    <script src="/jquery/dist/jquery.min.js"></script>
    <script>
      var jsonButton = $('#get-json-data-button')
      var viewButton = $('#get-view-data-button')
      var dataContainer = $('#data-container')

      jsonButton.click(function() {
        $.get('/data/json-demo', function(data) {
          dataContainer.html('<pre>'+JSON.stringify(data)+'</pre>')
        })
      })

      viewButton.click(function() {
        $.get('/data/view-demo', function(data) {
          dataContainer.html(data)
        })
      })
    </script>
  </body>
</html>
