<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <hr>
  <div>
    The data you got from AJAX:
    <div id="content">
    </div>
  </div>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script>
    function loadContentWithPage(page) {
      loadContentWithUrl('/data/json?page=' + page);
    }

    function loadContentWithLink(e) {
      e.preventDefault();
      loadContentWithUrl($(this).attr('href'))
    }

    function loadContentWithUrl(url) {
      $.get(url, function (json) {
        buildView(json);
      });
    }

    function buildView(json) {
      var element = $('<div>');
      var h2 = $('<h2>');
      var content = $('<div>');
      var pagination = $('<div class="pagination">');

      element.append(h2);
      element.append(content);
      element.append(pagination);

      h2.text(json.title);
      content.text('this is page: ' + json.page);

      for (var i = 1; i <= json.totalPages; i++) {
        var link = $('<a>');
        if (i != json.page) {
          link.attr('href', '/data/json?page=' + i)
        }
        link.css('display', 'link-block');
        link.css('padding', '4px');
        link.css('margin', '0 2px')
        link.text(i);
        link.click(loadContentWithLink);
        pagination.append(link);
      }

      $('#content').html('').append(element);
    }

    $(document).ready(function () {
      loadContentWithPage(1)
    })
  </script>
</body>

</html>